<h2>E Q U I P O S</h2>

<hr />

<mat-form-field appearance="outline">
  <mat-label>Filtrar</mat-label>
  <input
    matInput
    (keyup)="aplicarFiltro($event)"
    placeholder="Ejemplo: Adrian"
    #input
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- id Columna -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let teams">{{ teams.id }}</td>
    </ng-container>

    <!-- Escuela Columna -->
    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef>Escuela</th>
      <td mat-cell *matCellDef="let teams">{{ teams.school }}</td>
    </ng-container>

    <!-- Mascota Columna -->
    <ng-container matColumnDef="mascot">
      <th mat-header-cell *matHeaderCellDef>Mascota</th>
      <td mat-cell *matCellDef="let teams">{{ teams.mascot }}</td>
    </ng-container>

    <!-- Abreviacion Columna -->
    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell *matHeaderCellDef>Abreviacion</th>
      <td mat-cell *matCellDef="let teams">{{ teams.abbreviation }}</td>
    </ng-container>

    <!-- Conferencia Columna -->
    <ng-container matColumnDef="conference">
      <th mat-header-cell *matHeaderCellDef>Conferencia</th>
      <td mat-cell *matCellDef="let teams">{{ teams.conference }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Fila que se muestra cuando no hay datos que coincidan.-->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos que coincidan con: "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
