<h2>J U E G O S</h2>

<hr />

<div class="row">
  <div class="col">
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="dateGames"
        placeholder="Selecciona una fecha para ver todos los juegos de ese año"
        readonly
        (dateInput)="searchGames()"
        [(ngModel)]="date"
      />
      <mat-datepicker-toggle matPrefix [for]="dateGames">
      </mat-datepicker-toggle>
      <mat-datepicker
        #dateGames
        [disabled]="false"
        startView="multi-year"
        color="accent"
        [startAt]="minDate"
      ></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el año {{ date.getFullYear() }}
</div>

<!-- <div *ngIf="games.length > 0" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Año</th>
          <th>Semana</th>
          <th>Equipo Local</th>
          <th>Puntos Local</th>
          <th>Equipo Visitante</th>
          <th>Puntos Local</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games; let i = index">
          <td>{{ game.season }}</td>
          <td>{{ game.week }}</td>
          <td>
            <a [routerLink]="['/roster', game.home_team]">{{
              game.home_team
            }}</a>
          </td>
          <td
            [ngClass]="
              game.home_points > game.away_points
                ? 'text-success'
                : 'text-danger'
            "
          >
            {{ game.home_points }}
          </td>
          <td>
            <a [routerLink]="['/roster', game.away_team]">{{
              game.away_team
            }}</a>
          </td>
          <td
            [ngClass]="
              game.home_points < game.away_points
                ? 'text-success'
                : 'text-danger'
            "
          >
            {{ game.away_points }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<mat-form-field appearance="outline">
  <mat-label>Filtrar</mat-label>
  <input
    matInput
    (keyup)="aplicarFiltro($event)"
    placeholder="Ejemplo: Illinois"
    #input
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Año Columna -->
    <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef>Año</th>
      <td mat-cell *matCellDef="let games">
        {{ games.season }}
      </td>
    </ng-container>

    <!-- Semana Columna -->
    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef>Semana</th>
      <td mat-cell *matCellDef="let games">{{ games.week }}</td>
    </ng-container>

    <!-- Equipo Local Columna -->
    <ng-container matColumnDef="home_team">
      <th mat-header-cell *matHeaderCellDef>Equipo Local</th>
      <td mat-cell *matCellDef="let games">
        <a [routerLink]="['/roster', games.home_team]">{{ games.home_team }}</a>
      </td>
    </ng-container>

    <!-- Puntos Local Columna -->
    <ng-container matColumnDef="home_points">
      <th mat-header-cell *matHeaderCellDef>Puntos Local</th>
      <td
        mat-cell
        *matCellDef="let games"
        [ngClass]="
          games.home_points > games.away_points ? 'text-success' : 'text-danger'
        "
      >
        {{ games.home_points }}
      </td>
    </ng-container>

    <!-- Equipo Visitante Columna -->
    <ng-container matColumnDef="away_team">
      <th mat-header-cell *matHeaderCellDef>Equipo Visitante</th>
      <td mat-cell *matCellDef="let games">
        <a [routerLink]="['/roster', games.away_team]">{{ games.away_team }}</a>
      </td>
    </ng-container>

    <!-- Puntos Visitante Columna -->
    <ng-container matColumnDef="away_points">
      <th mat-header-cell *matHeaderCellDef>Puntos Visitante</th>
      <td
        mat-cell
        *matCellDef="let games"
        [ngClass]="
          games.home_points < games.away_points ? 'text-success' : 'text-danger'
        "
      >
        {{ games.away_points }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Fila que se muestra cuando no hay datos que coincidan.-->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos que coincidan con:"{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
