<h2>J U E G O S</h2>

<hr />

<div class="row">
  <div class="col">
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="dateGames"
        placeholder="Selecciona una fecha para ver todos los juegos de ese año"
        readonly
        (dateInput)="searchGames()"
        [(ngModel)]="date"
      />
      <mat-datepicker-toggle matPrefix [for]="dateGames">
      </mat-datepicker-toggle>
      <mat-datepicker
        #dateGames
        [disabled]="false"
        startView="multi-year"
        color="accent"
        [startAt]="minDate"
        touchUi
      ></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el año {{ date.getFullYear() }}
</div>

<div *ngIf="games.length > 0" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Año</th>
          <th>Semana</th>
          <th>Equipo Local</th>
          <th>Puntos Local</th>
          <th>Equipo Visitante</th>
          <th>Puntos Local</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games; let i = index">
          <td>{{ game.season }}</td>
          <td>{{ game.week }}</td>
          <td>
            <a [routerLink]="['/roster', game.home_team]">{{
              game.home_team
            }}</a>
          </td>
          <td
            [ngClass]="
              game.home_points > game.away_points
                ? 'text-success'
                : 'text-danger'
            "
          >
            {{ game.home_points }}
          </td>
          <td>
            <a [routerLink]="['/roster', game.away_team]">{{
              game.away_team
            }}</a>
          </td>
          <td
            [ngClass]="
              game.home_points < game.away_points
                ? 'text-success'
                : 'text-danger'
            "
          >
            {{ game.away_points }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
